In [15]:
### function for linear relationship ####
k = 2.5
def linear_function(x):
	y= k*x
	return y

In [16]:
k= 2.5
def linear(x):
    y=k*x
    return y

In [17]:
linear_function(2)

5.0

In [18]:
linear_function(3.7)

9.25

In [34]:
### function converts pound into gram ####
def convert (x):
	# 1 pound = 0.454 kilo
	# 1 pound = 456.59 gram
	y =0.456*x
	z = 453.59*x
	return y , z

In [35]:
convert (2)

(0.912, 907.18)

In [37]:
### function for volume and circumference ####
from math import pi
def function (radius , hight ):
	c=2*pi*radius
	V=pi *pow(radius,2)*hight
 	return c,V

TabError: inconsistent use of tabs and spaces in indentation (<ipython-input-37-8b06d384431a>, line 6)

In [38]:
function (2,2)

NameError: name 'function' is not defined

In [20]:
### function 
from math import pi

def aera_function(radius,hight):
	Area = pi * radius * hight
	return Area

In [21]:

aera_function (2,3)

18.84955592153876

In [2]:
a=int(input("table for :\t"))
c=int(input("enter the length of your table:\t"))
for b in range(1,c+1):
    z=a*b
    print ( a,"*",b, "=",z)

table for :	4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [4]:

fac=1
i=int(input())
for i in range(1,n):
    print(fac)

21

NameError: name 'n' is not defined

In [23]:
total_price= 10
perchze_price=9
X=total_price/perchze_price

In [24]:
X

1.1111111111111112

In [33]:
### YOUR CODE FOR chocolatePrice() FUNCTION GOES HERE ###
def choclatePrice(ali_budget,bashir_budget):
    tp=ali_budget,bashir_budget
    pp=
    tp%pp==0
    x=tp//pp
    return x
#### End OF MARKE

In [34]:
choclatePrice(10,5)

TypeError: choclatePrice() missing 2 required positional arguments: 'tp' and 'pp'

In [25]:
def choclatePrice(ali,bashir):
    if ali>bashir:
        price= bashir
    else:
        price=ali
    for i in range(5,11):

SyntaxError: unexpected EOF while parsing (<ipython-input-25-98cab52a16e4>, line 6)

In [27]:
a

0.9900000000000002

In [198]:
def convert(ali_budget):
    a=ali_budget-int(ali_budget)
    if a >=0.5:
        return int(ali_budget+1) 
    else :
        return int (ali_budget)

In [200]:
convert(15.2)

15

In [159]:
def calculatehcf(x, y):

# choose the smaller number
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            z = i 
    print(z)

In [162]:
a= calculatehcf(4,6)

In [163]:
a

2

In [40]:
def choclatePrice(ali_budget,bashir_budget):

    if type(ali_budget)==str or type(bashir_budget)==str:
        return "Not Possible"
    elif ali_budget==0 and bashir_budget==0:
        return "Not Possible"
    elif ali_budget > bashir_budget:
        smaller = bashir_budget
    else:
        smaller = ali_budget
    if not type(ali_budget)==float or type(bashir_budget)== float:
        for i in range(1, smaller+1):
            if((ali_budget/ i == 0) and (bashir_budget/ i == 0)):
                hcf = i 
            return hcf
    else:
        return "\'float\' object cannot be interpreted as an integer"

In [41]:
 choclatePrice(55,15)

UnboundLocalError: local variable 'hcf' referenced before assignment

In [202]:
### YOUR CODE FOR chocolatePrice() FUNCTION GOES HERE ###
def chocolatePrice(ali_budget,bashir_budget):

    if type(ali_budget)==str or type(bashir_budget)==str:
        return "Not Possible"
    elif ali_budget==0 and bashir_budget==0:
        return "Not Possible"
    elif ali_budget > bashir_budget:
        smaller = bashir_budget
    else:
        smaller = ali_budget
    
    for i in range(1, smaller+1):
        if((ali_budget% i == 0) and (bashir_budget% i == 0)):
            z= i 
    return z
    


#### End OF MARKER





### YOUR CODE FOR calculateProfit() FUNCTION GOES HERE ###
def calculateProfit(ali_budget,bashir_budget):
    a=ali_budget-int(ali_budget)
    b=bashir_budget-int(bashir_budget)
    if a >=0.5:
        ali_budget = int(ali_budget+1) 
    else :
        ali_budget = int (ali_budget)
    
    b=bashir_budget-int(bashir_budget)
    if b>0.5:
        bashir_budget = int (bashir_budget+1)
    else:
        bashir_budget = int (bashir_budget)
    
    
    if type(ali_budget)==str or type(bashir_budget)==str:
        return "Not Possible"
    elif ali_budget==0 and bashir_budget==0:
        return "Not Possible"
    elif ali_budget<0 or bashir_budget<0:
        return "Not Possible"
    elif ali_budget>bashir_budget:
        
        x=ali_budget*(3/2)-ali_budget
        y=bashir_budget*2-bashir_budget
        

        return 
    else :
       
        x = ali_budget*2-ali_budget
        y = bashir_budget*(3/2)-bashir_budget
        return x , y
    



    return x,y




#### End OF MARKER

In [203]:

calculateProfit(16, 8)

In [204]:
chocolatePrice(55, 15) == 5

True

In [205]:
chocolatePrice(99, 18) == 9

True

In [206]:
chocolatePrice(30, 12) == 6

True

In [207]:
chocolatePrice(50, 10) == 10

True

In [208]:
x=50
y=10
z=None
if x>y:
    smallest=y
else:
    smallest=x
for i in range(1,smallest+1):
    if ((x%i==0) and (y%i==0)):
        z=i
print(z)

10

In [209]:
z

10

In [210]:
a=10
b=120
if a>b:
    print(a)

In [211]:
calculateProfit(10, 19)

(10, 9.5)

In [212]:

y= False* False

In [213]:
y

0

In [214]:
def maxno (a,b ):
    if a>b:
        return a 
    else :
        return b

In [215]:
help(min) 

help (max
     )

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

Help on function max in module __main__:

max(a, b)

In [216]:
def maxno(a,b):
        if a>b:
            return a

In [217]:
a=maxno (2,5)

In [218]:
print (a)

None

In [190]:
b=min(2,5)

In [191]:
b

2

In [195]:
print (max(2,5))

None

In [197]:
print (max( 4,100 ) )

None

In [4]:
def primenum(num):

    if num > 1:  
        for i in range(2,num):  
            if (num % i) == 0:  
                print(num,"is not a prime number")  
                print(i,"times",num//i,"is",num)  
                break  
            else:  
                return print(num,"is a prime number")  
    else:  
        return print(num,"is not a prime number")  

primenum(7)

7 is a prime number

In [15]:
import os

directory = '/home/armghan/Downloads'
name = 'names.txt'
cout = 0
filename = os.path.join(directory, name)
 
f = open(filename, 'r')  

for line in f:
    cout +=1
    if cout == 3:
        print  (line)
        continue
    elif cout == 5:
        print(line) 
        continue
    else :
        continue
        print ("line not found")
        
    
f.close()

Vladimir

Ed